<li class="nav-item">
  <a class="nav-link" href="#portfolio">Destaques</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#portfolio">Categorias</a>
  <ul class="navbar-na ml-auto">
    <li class="nav-item">
      <a href="" class="nav-link">American Pale Ale</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Stout</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Indian Pale Ale</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Weiss</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="#portfolio">Portfolio</a>
</li>